.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 100;
}

.logo {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
}

nav a {
  margin-left: 2rem;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  transition: color 0.3s;
}

nav a:hover {
  color: #9c9cff;
}
