.page-banner {
  position: relative;
  width: 100%;
  min-height: 28vh;
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  .page-banner {
    min-height: 38vh;
  }
}
.page-banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}
.page-banner-inner {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* Optional overlay variants you can pass via overlayClasses */
.pb-overlay-emerald::after {
  background: linear-gradient(
    to bottom,
    rgba(4, 120, 87, 0.5),
    rgba(0, 0, 0, 0)
  );
}
