.wc-thumb {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
  background: #0e1512;
  /* iOS/Safari friendly image rendering */
  image-rendering: -webkit-optimize-contrast;
}
